{% extends "base.html"%}
{% block content %}
<div class="container">

<div class="row">
	<div class="col-xs-6"><h2>Trandisciplinary Analytics <small>
is data analysis using quantitative, qualitative, mixed-method and integral research methods.

We work with you to qualify the quantitative data, and quantify the qualitative data to enhance your project's impact." </small></h2>
	</div>


	<div class="col-xs-6">Tomo Analytica provides a transdisciplinary data driven abalytics to define, measure and improve your project's impact. There has been a surge in technological advances in social change praxis in recent years, and the capacity to network and crowdsource is now possible for any problem. However, the issue of measuring true impact remains a puzzle to be solved. This is mainly because increased social complexity has created the need for a framework that combines new technologies with emerging social change disciplines and narratives.

Our platform uniquely sythesizes breakthgrough transdisciplinary research methods and cutting edge data science technology to generate insights into patterns and trends never before possible. We can uncover hidden potentials in your organization, foresee emerging threats and blunders, identify strategic partnership, and better position yourself for the future growth.
	</div>
	
</div>
</div>

{% endblock %}


