{% extends "base.html"%}
{% block content %}
{% load staticfiles %}   
<div class="container"> <br><br>  
	<div class="row">
			<div class="col-xs-6">
				<img class="col-sm-6" src="{% static "img/cover.jpg" %}">
			</div>


			<div class="col-xs-6">
		Social impact is the process of asessing the social consequences that are likley to follow from specifc policy actions or project. Social impacts include all social and cultural consequences to human, environment and ecology of a community or a system. Social impact by definition is complex with manifold narratives, values, worldviews and approach.
			</p></p>

		The advances in technology is now allowing us to tackle these complexity with more data-centric approach. We now have unprecedented access to information that allows us to develop strategies for social impact like never before. This paper explores how different disciplines can work together to make a deeper and wider impact using lates technology in data science. Based on transdisciplinary studies and metatheoritical approach readers are introduced to process of formulating research question, project design and data strategy. 

			</div>
	</div>
</div>

{% endblock %}

