{% extends "base.html"%}
{% block content %}
<div class="container">
	<div class="row">
		 <div class="col-xs-6"><h4>PeaceGeeks <small>
	is a Canadian non-profit organization supporting communities affected by conflict and disaster to leverage technology for raising awareness of peace and human rights issues affecting their communities</small></h4>

		</p>
		<h4>UNHCR - Jordan <small> collaborates with other UN agencies, local and international Npn-Governmental Organizations (NGOs) and Jordanian authorities to provide assistance and durable solutions for refugees based across the country.</small></h4>

		</div>


		<div class="col-xs-6">
			<h4> Introduction</h4>
			In 2014, United Nation High Commisioner for Refugees (UNHCR) Jordan and PeaceGeeks began partnership to snable refugees and services providers to quickly access up to date information on all services available to refugees. A key challenge facing all stakeholders was accessing up to date information on available services at any given moment in time. Until recently, there has been no single place for considering this information. Services information changes constantly because of changing pririties.
			</p></p>
			<h4>Service Advisor</h4>
			Service Advisor is a web app that connects refugees to essential information on all humanitarian services. It helps refugees to essential information on all humanitarian services. It helps refugees, service providers and coordinating bodies, which provides up-to-date information about local availability of humanitarian services. The app allows users to view available services on a map and in a service directory, where they can filter by category/sector, region, service provider and referral requirements.

		</div>
	</div>
</div>
{% endblock %}

